<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarningApp">
        
        <!-- Splash Screen as Launcher -->
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Authentication Activity -->
        <activity
            android:name=".screens.AuthActivity"
            android:exported="false" />
        
        <!-- Home Activity -->
        <activity
            android:name=".screens.HomeActivity"
            android:exported="false" />
        
        <!-- Spin Activity -->
        <activity
            android:name=".screens.SpinActivity"
            android:exported="false"
            android:parentActivityName=".screens.HomeActivity" />
        
        <!-- Withdrawal Activity -->
        <activity
            android:name=".screens.WithdrawalActivity"
            android:exported="false"
            android:parentActivityName=".screens.HomeActivity" />
        
        <!-- Quiz Activity -->
        <activity
            android:name=".screens.QuizActivity"
            android:exported="false"
            android:parentActivityName=".screens.HomeActivity" />
        
        <!-- Main Activity (if needed) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>